# GROQ API Key from https://console.groq.com/
GROQ_API_KEY=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 

# Supabase Credentials from https://supabase.com/
SUPABASE_URL=https://fodwogdbwihpvoapdnze.supabase.co
SUPABASE_KEY=sb_publishable_cURz2CmdKQmO7FpqZTqEYA_y5pK7j5y

# Meta (WhatsApp) Webhook & Phone IDs from https://developers.facebook.com/
META_ACCESS_TOKEN=EAA7q1fnKwI0BQ96bWwmpbIUXj0POGnyXWDlffepX2z7vWDmVtNwNQkomcKF5qdrOZAbD9uZB3vd0wdkHWHacq9XRR9LSfHEKyNwxQyANgB6ZB8n5U2Lu8ixaaZB4r5zaQHfR1QTTnFZALJlji7DfU3KzunDgpviqfY2BJj9diFk4LJ3sjwOCeAZBq7dHN79EhzjwZDZD
WHATSAPP_PHONE_ID=940107949189743
WEBHOOK_VERIFY_TOKEN=1234
